In [1]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
from sys import path
import matplotlib.pyplot as plt
import pymmwr as pm
from datetime import datetime
from datetime import date
from datetime import timedelta

In [32]:
'''Import locations'''

locations = pd.read_csv('./locations.csv',skiprows=0) 
locations = locations.drop([0]) #skip first row (national ID)
print("Number of Locations:", len(locations))
locations.head()

Number of Locations: 52

,abbreviation,location,location_name,population,Unnamed: 4,count_rate1,count_rate2,count_rate2p5,count_rate3,count_rate4,count_rate5
1,AL,01,Alabama,5063778,NaN,51,101,127,152,203,253
2,AK,02,Alaska,711426,NaN,7,14,18,21,28,36
3,AZ,04,Arizona,7341018,NaN,73,147,184,220,294,367
4,AR,05,Arkansas,3041878,NaN,30,61,76,91,122,152
5,CA,06,California,38886551,NaN,389,778,972,1167,1555,1944

In [15]:
'''Extract hospitalization data'''

actual_data = pd.read_csv('./COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_State_Timeseries__RAW_.csv') 
actual_data = actual_data[['date','state','previous_day_admission_influenza_confirmed']].sort_values(['state','date'])
actual_data.head()

             date state  previous_day_admission_influenza_confirmed
33828  2020/03/23    AK                                         NaN
28607  2020/03/24    AK                                         NaN
34678  2020/03/25    AK                                         NaN
32325  2020/03/26    AK                                         NaN
26758  2020/03/27    AK                                         NaN

In [24]:
'''Map location numbers to state abbreviations'''

location_to_state = {}
for index, row in locations.iterrows():
    location_number = row['location']
    abbreviation = row['abbreviation']
    location_to_state.update({location_number: abbreviation})
print(location_to_state)

{'01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR', '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE', '11': 'DC', '12': 'FL', '13': 'GA', '15': 'HI', '16': 'ID', '17': 'IL', '18': 'IN', '19': 'IA', '20': 'KS', '21': 'KY', '22': 'LA', '23': 'ME', '24': 'MD', '25': 'MA', '26': 'MI', '27': 'MN', '28': 'MS', '29': 'MO', '30': 'MT', '31': 'NE', '32': 'NV', '33': 'NH', '34': 'NJ', '35': 'NM', '36': 'NY', '37': 'NC', '38': 'ND', '39': 'OH', '40': 'OK', '41': 'OR', '42': 'PA', '44': 'RI', '45': 'SC', '46': 'SD', '47': 'TN', '48': 'TX', '49': 'UT', '50': 'VT', '51': 'VA', '53': 'WA', '54': 'WV', '55': 'WI', '56': 'WY', '72': 'PR'}

In [63]:
'''Testing. Get a single state's actual data.'''

NY_actual_data = pd.DataFrame(actual_data[actual_data['state'] == 'NY'])
NY_actual_data

             date state  previous_day_admission_influenza_confirmed
30249  2020/03/14    NY                                         NaN
32461  2020/03/15    NY                                         NaN
31040  2020/03/16    NY                                         NaN
33005  2020/03/17    NY                                         NaN
33736  2020/03/18    NY                                         NaN
...           ...   ...                                         ...
74156  2024/04/23    NY                                        24.0
63712  2024/04/24    NY                                        33.0
64294  2024/04/25    NY                                        27.0
67855  2024/04/26    NY                                        14.0
63909  2024/04/27    NY                                        16.0

[1506 rows x 3 columns]

In [51]:
'''Convert the forecast data files into a dataframe'''

from os import listdir
from os.path import isfile, join

forecast_path = './LosAlamos_NAU-CModel_Flu/'
forecast_files = [file for file in listdir(forecast_path) if isfile(join(forecast_path, file))]
forecast_files.sort()

dataframes = []
for file in forecast_files:
    dataframes.append(pd.read_csv(forecast_path + file))

all_forecasts = pd.concat(dataframes)
all_forecasts

,reference_date,target,horizon,target_end_date,location,output_type,output_type_id,value
0,2023-10-21,wk inc flu hosp,-1,2023-10-14,11,quantile,0.01,0.0
1,2023-10-21,wk inc flu hosp,-1,2023-10-14,11,quantile,0.025,0.0
2,2023-10-21,wk inc flu hosp,-1,2023-10-14,11,quantile,0.05,0.0
3,2023-10-21,wk inc flu hosp,-1,2023-10-14,11,quantile,0.1,0.0
4,2023-10-21,wk inc flu hosp,-1,2023-10-14,11,quantile,0.15,0.0
...,...,...,...,...,...,...,...,...
5931,2024-05-04,wk flu hosp rate change,3,2024-05-25,US,pmf,stable,1.0
5932,2024-05-04,wk flu hosp rate change,3,2024-05-25,US,pmf,increase,0.0
5933,2024-05-04,wk flu hosp rate change,3,2024-05-25,US,pmf,large_increase,0.0
5934,2024-05-04,wk flu hosp rate change,3,2024-05-25,US,pmf,decrease,0.0
5935,2024-05-04,wk flu hosp rate change,3,2024-05-25,US,pmf,large_decrease,0.0

In [53]:
'''Testing. Get a single state's forecast data.'''

NY_forecast_data = all_forecasts[all_forecasts['location'] == '36']
NY_forecast_data

,reference_date,target,horizon,target_end_date,location,output_type,output_type_id,value
4900,2023-10-21,wk inc flu hosp,-1,2023-10-14,36,quantile,0.01,0.000000
4901,2023-10-21,wk inc flu hosp,-1,2023-10-14,36,quantile,0.025,0.001830
4902,2023-10-21,wk inc flu hosp,-1,2023-10-14,36,quantile,0.05,11.954215
4903,2023-10-21,wk inc flu hosp,-1,2023-10-14,36,quantile,0.1,18.681685
4904,2023-10-21,wk inc flu hosp,-1,2023-10-14,36,quantile,0.15,18.727198
...,...,...,...,...,...,...,...,...
4027,2024-05-04,wk flu hosp rate change,3,2024-05-25,36,pmf,stable,1.000000
4028,2024-05-04,wk flu hosp rate change,3,2024-05-25,36,pmf,increase,0.000000
4029,2024-05-04,wk flu hosp rate change,3,2024-05-25,36,pmf,large_increase,0.000000
4030,2024-05-04,wk flu hosp rate change,3,2024-05-25,36,pmf,decrease,0.000000
4031,2024-05-04,wk flu hosp rate change,3,2024-05-25,36,pmf,large_decrease,0.000000

In [48]:
target_dates = all_forecasts['target_end_date'].unique()
target_dates

array(['2023-10-14', '2023-10-21', '2023-10-28', '2023-11-04',
       '2023-11-11', '2023-11-18', '2023-11-25', '2023-12-02',
       '2023-12-09', '2023-12-16', '2023-12-23', '2023-12-30',
       '2024-01-06', '2024-01-13', '2024-01-20', '2024-01-27',
       '2024-02-03', '2024-02-10', '2024-02-17', '2024-02-24',
       '2024-03-02', '2024-03-09', '2024-03-16', '2024-03-23',
       '2024-03-30', '2024-04-06', '2024-04-13', '2024-04-20',
       '2024-04-27', '2024-05-04', '2024-05-11', '2024-05-18',
       '2024-05-25'], dtype=object)

In [50]:
'''Define the Interval Score and Weighted Interval Score functions'''
'''https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7880475/'''

def IS(alpha, predL, predU):
    
    return lambda y: (predU - predL) + 2/alpha*(y < predL)*(predL - y) + 2/alpha*(y > predU)*(y-predU)

def WIS(y_obs, qtlMark, predQTL):
    
    is_well_defined = np.mod(len(qtlMark), 2) != 0
    
    NcentralizedQT = (len(qtlMark)-1)//2 + 1
    
    alpha_list = np.zeros(NcentralizedQT)
    weight_list = np.zeros(NcentralizedQT)
    
    for i in range(NcentralizedQT):  
        is_well_defined = is_well_defined & (np.abs(-1.0 + qtlMark[i] + qtlMark[-1-i]) < 1e-8)
        alpha_list[i] = 1 - (qtlMark[-1 - i] - qtlMark[i])
        weight_list[i] = alpha_list[i]/2
        
    if is_well_defined:
        #print(alpha_list)
        #print(qtlMark)
        #print(NcentralizedQT)
        
        output = 1.0/2 * np.abs(y_obs - predQTL[NcentralizedQT - 1])
        
        for i in range(NcentralizedQT - 1):
            output += weight_list[i] * IS(alpha_list[i], predQTL[i], predQTL[-1 - i])(y_obs)
            #print(alpha_list[i], predQTL[i],predQTL[-1-i])
            
        return output/(NcentralizedQT - 1/2)
    
    else:
        print('Check the quantile marks: either no median defined, or not in symmetric central QTL form.')

In [70]:
def get_state_actual_data(state_code):
    return all_forecasts[all_forecasts['location'] == str(state_code).zfill(2)]


def one_state_one_week_WIS_scores(forecast_csv, state_code):
    observation = np.zeros((1,4))
    quantiles = np.zeros((23,4))
    wis = np.zeros((1,4))

    for n_week_ahead in range(4):
        pass

    # Send scores to csv
    d = {'state_code': [], 'state_abbrev': [], '1wk_WIS': [],'2wk_WIS': [], '3wk_WIS': [], '4wk_WIS': []}
    df = pd.DataFrame(data = d)

In [74]:
''' Testing '''
get_state_actual_data(1).head()

,reference_date,target,horizon,target_end_date,location,output_type,output_type_id,value
420,2023-10-21,wk inc flu hosp,-1,2023-10-14,01,quantile,0.01,0.142121
421,2023-10-21,wk inc flu hosp,-1,2023-10-14,01,quantile,0.025,14.523841
422,2023-10-21,wk inc flu hosp,-1,2023-10-14,01,quantile,0.05,14.821819
423,2023-10-21,wk inc flu hosp,-1,2023-10-14,01,quantile,0.1,14.848850
424,2023-10-21,wk inc flu hosp,-1,2023-10-14,01,quantile,0.15,14.957070

In [73]:
'''Testing to see if all states/locations are represented in our forecast data files. '''
test_data = pd.read_csv('./LosAlamos_NAU-CModel_Flu/2023-10-21-LosAlamos_NAU-CModel_Flu.csv')
unique_states = len(test_data['location'].unique())
unique_states

53

In [ ]:
def one_state_all_scores():
    pass
        

def all_states_all_scores():
    forecast_path = './LosAlamos_NAU-CModel_Flu/'
    forecast_files = [file for file in listdir(forecast_path) if isfile(join(forecast_path, file))]
    forecast_files.sort()

    # Convert files to dataframes
    forecast_dataframes = []
    for file in forecast_files:
        forecast_dataframes.append(pd.read_csv(forecast_path + file))

In [75]:
state_HI_data = get_state_actual_data(1)

date_Array = [datetime.strptime(state_HI_data['date'].values[i], '%Y/%m/%d') - timedelta(days=1) for i in range(len(state_HI_data))]

KeyError: 'date'