In [1]:
import utilities.weather_api as weather

coordinates = weather.get_lat_long_from_loc_code('06')

print(coordinates)

(34.0522, -118.2437)

SARIMA? https://otexts.com/fpp3/seasonal-arima.html

In [2]:
weather.get_weekly_forecast_avg_temp(coordinates[0], coordinates[1], '2023-10-28')

13.183001

In [3]:
import pandas as pd
from datetime import datetime, timedelta

start_date = datetime(2023, 8, 10)
end_date = start_date + timedelta(days=79)
date_range = pd.date_range(start_date, end_date)

df = pd.DataFrame(date_range, columns=['date'])

options = ['mean_temp', 'rel_humidity', 'radiation', 'wind_speed']
def get_data_point(date, weather_type):
    return weather.get_daily_data_point(coordinates[0], coordinates[1], 
                                            date.strftime('%Y-%m-%d'), weather_type=weather_type)

for option in options:
    df[option] = df['date'].apply(lambda date: get_data_point(date, option))
    print(f"Option: {option} completed.")

print(df)

Option: mean_temp completed.
Option: rel_humidity completed.
Option: radiation completed.
Option: wind_speed completed.
         date  mean_temp  rel_humidity  radiation  wind_speed
0  2023-08-10  22.241583     87.692696  17.990000   18.356470
1  2023-08-11  21.637419     93.892593  21.879999   19.734436
2  2023-08-12  21.858252     97.820564  25.330000   18.391737
3  2023-08-13  22.054085     99.060791  24.809999   20.898613
4  2023-08-14  22.168669     93.890312  24.190001   20.929594
..        ...        ...           ...        ...         ...
75 2023-10-24  18.058249     95.840172  14.410000   16.808571
76 2023-10-25  18.822832     92.596840   8.960000   14.400000
77 2023-10-26  18.316584     96.815796  14.240000   15.137133
78 2023-10-27  17.677000     90.717361  13.490000   17.727943
79 2023-10-28  16.239502     97.726753  13.510000   21.175837

[80 rows x 5 columns]

In [4]:
df

         date  mean_temp  rel_humidity  radiation  wind_speed
0  2023-08-10  22.241583     87.692696  17.990000   18.356470
1  2023-08-11  21.637419     93.892593  21.879999   19.734436
2  2023-08-12  21.858252     97.820564  25.330000   18.391737
3  2023-08-13  22.054085     99.060791  24.809999   20.898613
4  2023-08-14  22.168669     93.890312  24.190001   20.929594
..        ...        ...           ...        ...         ...
75 2023-10-24  18.058249     95.840172  14.410000   16.808571
76 2023-10-25  18.822832     92.596840   8.960000   14.400000
77 2023-10-26  18.316584     96.815796  14.240000   15.137133
78 2023-10-27  17.677000     90.717361  13.490000   17.727943
79 2023-10-28  16.239502     97.726753  13.510000   21.175837

[80 rows x 5 columns]

In [5]:
df.to_csv('./weather_data/CA_weather_test.csv')

In [6]:
df = weather.openmeteo_data(coordinates[0], coordinates[1])

Coordinates 34.05975341796875°N -118.23750305175781°E
Elevation 91.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

In [7]:
df.head()

,date,temperature_2m_mean,sunshine_duration,wind_speed_10m_max,shortwave_radiation_sum
0,2023-08-10 00:00:00+00:00,22.241583,37158.226562,18.356470,17.990000
1,2023-08-11 00:00:00+00:00,21.637419,41906.882812,19.734436,21.879999
2,2023-08-12 00:00:00+00:00,21.858252,43528.539062,18.391737,25.330000
3,2023-08-13 00:00:00+00:00,22.054085,41483.000000,20.898613,24.809999
4,2023-08-14 00:00:00+00:00,22.168669,37488.554688,20.929594,24.190001

In [8]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [9]:
df.head()

,date,temperature_2m_mean,sunshine_duration,wind_speed_10m_max,shortwave_radiation_sum
0,2023-08-10 00:00:00+00:00,22.241583,37158.226562,18.356470,17.990000
1,2023-08-11 00:00:00+00:00,21.637419,41906.882812,19.734436,21.879999
2,2023-08-12 00:00:00+00:00,21.858252,43528.539062,18.391737,25.330000
3,2023-08-13 00:00:00+00:00,22.054085,41483.000000,20.898613,24.809999
4,2023-08-14 00:00:00+00:00,22.168669,37488.554688,20.929594,24.190001

In [10]:
df.to_csv('./weather_data/CA_weather_test2.csv')

In [11]:
original_df = pd.read_csv('./weather_data/CA_weather_test.csv', index_col=0)

In [12]:
original_df['sunshine_duration'] = df['sunshine_duration']

In [13]:
original_df['wind_speed_10m_max'] = df['wind_speed_10m_max']
original_df['shortwave_radiation_sum'] = df['shortwave_radiation_sum']

In [14]:
original_df

,date,mean_temp,rel_humidity,radiation,wind_speed,sunshine_duration,wind_speed_10m_max,shortwave_radiation_sum
0,2023-08-10,22.241583,87.692696,17.99,18.356470,37158.226562,18.356470,17.990000
1,2023-08-11,21.637419,93.892590,21.88,19.734436,41906.882812,19.734436,21.879999
2,2023-08-12,21.858252,97.820564,25.33,18.391737,43528.539062,18.391737,25.330000
3,2023-08-13,22.054085,99.060790,24.81,20.898613,41483.000000,20.898613,24.809999
4,2023-08-14,22.168669,93.890310,24.19,20.929594,37488.554688,20.929594,24.190001
...,...,...,...,...,...,...,...,...
75,2023-10-24,18.058249,95.840170,14.41,16.808570,34818.027344,16.808571,14.410000
76,2023-10-25,18.822832,92.596840,8.96,14.400000,25131.226562,14.400000,8.960000
77,2023-10-26,18.316584,96.815796,14.24,15.137133,34215.695312,15.137133,14.240000
78,2023-10-27,17.677000,90.717360,13.49,17.727943,34969.808594,17.727943,13.490000
79,2023-10-28,16.239502,97.726750,13.51,21.175837,33516.507812,21.175837,13.510000

In [15]:
original_df.to_csv('./weather_data/CA_weather_test2.csv', index=False)

In [21]:
google_data = pd.read_csv('~/Downloads/multiTimeline(1).csv', header=1)

In [22]:
google_data.head()

          Day  flu symptoms: (California)
0  2023-08-07                          36
1  2023-08-08                          42
2  2023-08-09                          36
3  2023-08-10                          45
4  2023-08-11                          37

In [23]:
original_df['google_searches'] = google_data['flu symptoms: (California)']

In [24]:
original_df

,date,mean_temp,rel_humidity,radiation,wind_speed,sunshine_duration,wind_speed_10m_max,shortwave_radiation_sum,google_searches
0,2023-08-10,22.241583,87.692696,17.99,18.356470,37158.226562,18.356470,17.990000,36
1,2023-08-11,21.637419,93.892590,21.88,19.734436,41906.882812,19.734436,21.879999,42
2,2023-08-12,21.858252,97.820564,25.33,18.391737,43528.539062,18.391737,25.330000,36
3,2023-08-13,22.054085,99.060790,24.81,20.898613,41483.000000,20.898613,24.809999,45
4,2023-08-14,22.168669,93.890310,24.19,20.929594,37488.554688,20.929594,24.190001,37
...,...,...,...,...,...,...,...,...,...
75,2023-10-24,18.058249,95.840170,14.41,16.808570,34818.027344,16.808571,14.410000,61
76,2023-10-25,18.822832,92.596840,8.96,14.400000,25131.226562,14.400000,8.960000,69
77,2023-10-26,18.316584,96.815796,14.24,15.137133,34215.695312,15.137133,14.240000,87
78,2023-10-27,17.677000,90.717360,13.49,17.727943,34969.808594,17.727943,13.490000,74
79,2023-10-28,16.239502,97.726750,13.51,21.175837,33516.507812,21.175837,13.510000,87

In [25]:
original_df.to_csv('CA_factors_test.csv')