In [1]:
import utilities.weather_api as weather

coordinates = weather.get_lat_long_from_loc_code('4')

print(coordinates)

weather.get_single_day_mean_temp(coordinates[0], coordinates[1], '1996-10-28')

(33.4484, -112.074)

13.778087

SARIMA? https://otexts.com/fpp3/seasonal-arima.html

In [2]:
weather.get_weekly_forecast_avg_temp(coordinates[0], coordinates[1], '2023-10-28')

13.183001

In [3]:
import pandas as pd
from datetime import datetime, timedelta

start_date = datetime(2023, 8, 10)
end_date = start_date + timedelta(days=79)
date_range = pd.date_range(start_date, end_date)

df = pd.DataFrame(date_range, columns=['date'])

def get_temperature(date):
    return weather.get_single_day_mean_temp(coordinates[0], coordinates[1], 
                                            date.strftime('%Y-%m-%d'))
def get_precip(date):
    return weather.get_single_day_precip_hours(coordinates[0], coordinates[1], date.strftime('%Y-%m-%d'))

def get_max_rel_humidity(date):
    return weather.get_max_rel_humidity(coordinates[0], coordinates[1], date.strftime('%Y-%m-%d'))

df['mean_temp'] = df['date'].apply(get_temperature)
df['precip_hours'] = df['date'].apply(get_precip)
df['max_rel_humidity'] = df['date'].apply(get_max_rel_humidity)

print(df)

         date  mean_temp  precip_hours  max_rel_humidity
0  2023-08-10  35.480247           0.0         58.343990
1  2023-08-11  35.686504           0.0         41.027596
2  2023-08-12  34.296917           0.0         48.472122
3  2023-08-13  35.290665           0.0         39.194641
4  2023-08-14  35.201084           0.0         34.023445
..        ...        ...           ...               ...
75 2023-10-24  23.776079           0.0         53.960831
76 2023-10-25  22.559412           0.0         60.130966
77 2023-10-26  23.484415           0.0         71.569344
78 2023-10-27  22.742750           0.0         68.598061
79 2023-10-28  23.749002           0.0         52.024117

[80 rows x 4 columns]

In [4]:
df

         date  mean_temp  precip_hours  max_rel_humidity
0  2023-08-10  35.480247           0.0         58.343990
1  2023-08-11  35.686504           0.0         41.027596
2  2023-08-12  34.296917           0.0         48.472122
3  2023-08-13  35.290665           0.0         39.194641
4  2023-08-14  35.201084           0.0         34.023445
..        ...        ...           ...               ...
75 2023-10-24  23.776079           0.0         53.960831
76 2023-10-25  22.559412           0.0         60.130966
77 2023-10-26  23.484415           0.0         71.569344
78 2023-10-27  22.742750           0.0         68.598061
79 2023-10-28  23.749002           0.0         52.024117

[80 rows x 4 columns]

In [6]:
df.to_csv('../weather_data/arizona_weather_test.csv')